 <? xml version = "1.0" encoding = "UTF - 8" standalone = "no" ? >
<ex:Optix_Framework_Parameters xmlns : ex = "schemas.example.com/2008/">
	<camera>
		<property key="camera_definition_type" value="EYE_LOOKAT_UP_VECTORS" key="Type of the camera.">
		<property key="camera_downsampling" value="1" key="Downsampling">
		<property key="camera_fov" value="34" key="The camera FOV, in degrees">
		<property key="camera_lookat_point" value="0 0 0 " key="The camera lookat point">
		<property key="camera_position" value="5 0 0" key="The camera initial position">
		<property key="camera_up" value="0 1 0" key="The camera initial up">
		<property key="use_auto_camera" value="false" key="Use a automatic placed camera or use the current data.">
		<property key="window_height" value="1024" key="The height of the window">
		<property key="window_width" value="1280" key="The width of the window">
	</camera>
	<config>
		<property key="N" value="1" key="Monte carlo samples.">
		<property key="default_miss_type" value="CONSTANT_BACKGROUND" key="Default miss program.">
		<property key="max_depth" value="300" key="Maximum recursion depth of the raytracer">
		<property key="max_splits_rr" value="0" key="Maximum splits in russian roulette.">
		<property key="maximum_volume_steps" value="1000000" key="Maximum rays in VPT.">
		<property key="rendering_type" value="PATH_TRACING" key="Rendering method">
		<property key="stack_size" value="30000" key="Allocated stack size for context">
		<property key="use_absorption" value="true" key="Use absorption.">
		<property key="use_merl_brdf" value="true" key="configure the ray tracer to try to use the MERL brdf database whenever possible.">
		<property key="use_splitting" value="false" key="Use splitting in path tracing.">
	</config>
	<folders>
		<property key="config_folder" value="./config/" key="The folder where to look for all the configuration files.">
		<property key="data_folder" value="../data/" key="Folder with all the data necessary for rendering excluding configuration files. All model/file paths will be relative to this folder.">
		<property key="merl_database" value="database.txt" key="Text file that contains a list of the MERL data to load.">
		<property key="merl_folder" value="materials/" key="Folder where to look for MERL database BRDFs.">
		<property key="mpml_file" value="/materials/media.mpml" key="MPML File for material properties.">
		<property key="ptx_path" value="PTX_files" key="Compiled cuda files folder. Visual studio needs to be also set in case to output the files to the right folder!">
		<property key="texture_folder" value="images/" key="Image folder for MTL files.">
	</folders>
	<glossy>
		<property key="anisotropic_exp" value="0.5 1 " key="">
		<property key="blinn_exp" value="1.000000" key="">
		<property key="merl_multiplier" value="1.0000000000 0.9945030400 0.9727792400" key="Multiplication factor for MERL materials. Premultiplied on sampling the brdf.">
		<property key="x_axis_anisotropic" value="1 0 0 " key="">
	</glossy>
	<light>
		<property key="background_constant_color" value="0.5 0.5 0.5" key="Background color">
		<property key="default_directional_light_direction" value="0.000000 -1.00000 0.000000" key="Direction of the default directional light">
		<property key="default_directional_light_intensity" value="10 10 10" key="Intensity of the default directional light">
		<property key="default_light_type" value="AREA_LIGHT" key="Type of the default light">
		<property key="default_point_light_intensity" value="20000.000 20000.000 20000.000" key="Intensity of the default point light.">
		<property key="default_point_light_position" value="125.00000 90.00000 -40.0000" key="Position of the default point light.">
		<property key="environment_map" value="doge2.hdr" key="Environment map file">
		<property key="envmap_deltas" value="0.0000000000 0.0000000000 0.0000000000" key="Environment map rotation">
		<property key="lightmap_multiplier" value="3" key="Environment map multiplier">
		<property key="shadows" value="1" key="Use shadows in rendering.">
	</light>
	<tonemap>
		<property key="tonemap_exponent" value="1.8" key="Tonemap exponent.">
		<property key="tonemap_multiplier" value="1.0" key="Tonemap multiplier.">
	</tonemap>
</ex:Optix_Framework_Parameters>

