<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<ex:Optix_Framework_Parameters xmlns:ex="schemas.example.com/2008/">
  <bssrdf>
    <property key="approximate_A" value="0.996 0.987 0.821 " comment="Approximate value A for approximate dipoles."/>
    <property key="approximate_s" value="3.22 5.82 7.83 " comment="Approximate value A for approximate dipoles."/>
    <property key="bssrdf_model" value="APPROX_DIRECTIONAL_DIPOLE_BSSRDF" comment="Selected dipole. Values: STANDARD_DIPOLE_BSSRDF DIRECTIONAL_DIPOLE_BSSRDF APPROX_STANDARD_DIPOLE_BSSRDF APPROX_DIRECTIONAL_DIPOLE_BSSRDF "/>
    <property key="bssrdf_sampling_mfp" value="MEAN" comment="Value used in sampling as MFP. Can be X, Y, Z, MEAN, MIN, MAX"/>
  </bssrdf>
  <camera>
    <property key="camera_definition_type" value="EYE_LOOKAT_UP_VECTORS" comment="Type of the camera."/>
    <property key="camera_downsampling" value="1" comment=""/>
    <property key="camera_fov" value="34" comment="The camera FOVs (h|v)"/>
    <property key="camera_lookat_point" value="0 0 0 " comment="The camera initial lookat point"/>
    <property key="camera_position" value="5 0 0" comment="The camera initial position"/>
    <property key="camera_up" value="0 1 0" comment="The camera initial up"/>
    <property key="use_auto_camera" value="false" comment="Use a automatic placed camera or use the current data."/>
    <property key="window_height" value="1024" comment="The height of the window"/>
    <property key="window_width" value="1280" comment="The width of the window"/>
  </camera>
  <config>
    <property key="N" value="1" comment="Monte carlo samples."/>
    <property key="default_miss_type" value="CONSTANT_BACKGROUND" comment="Default miss program."/>
    <property key="max_depth" value="150" comment="Maximum recursion depth of the raytracer"/>
    <property key="max_splits_rr" value="0" comment="Maximum splits in russian roulette."/>
    <property key="maximum_volume_steps" value="1000000" comment="Maximum rays in VPT."/>
    <property key="rendering_type" value="PATH_TRACING" comment="Rendering method"/>
    <property key="stack_size" value="30000" comment="Allocated stack size for context"/>
    <property key="use_absorption" value="true" comment="Use absorption in rendering."/>
    <property key="use_merl_brdf" value="true" comment="configure the ray tracer to try to use the MERL brdf database whenever possible."/>
    <property key="use_splitting" value="false" comment="Use splitting in path tracing."/>
  </config>
  <folders>
    <property key="data_folder" value="../data/" comment="Folder with all the data necessary for rendering excluding configuration files. All model/file paths will be relative to this folder."/>
    <property key="merl_database" value="database.txt" comment="Text file that contains a list of the MERL data to load."/>
    <property key="merl_folder" value="materials/" comment="Folder where to look for MERL database BRDFs."/>
    <property key="mpml_file" value="/mpml/media.mpml" comment="MPML File for material properties."/>
    <property key="ptx_path" value="PTX_files" comment="Compiled cuda files folder. Visual studio needs to be also set in case to output the files to the right folder!"/>
    <property key="texture_folder" value="images/" comment="Image folder for MTL files."/>
  </folders>
  <glossy>
    <property key="anisotropic_exp" value="0.5 1 " comment=""/>
    <property key="blinn_exp" value="1.000000" comment=""/>
    <property key="merl_multiplier" value="1.0000000000 0.9945030400 0.9727792400" comment="Multiplication factor for MERL materials. Premultiplied on sampling the brdf."/>
    <property key="x_axis_anisotropic" value="1 0 0 " comment=""/>
  </glossy>
  <light>
    <property key="background_constant_color" value="0.0 0.0 0.0" comment="Environment map file"/>
    <property key="default_directional_light_direction" value="0.000000 -1.00000 0.000000" comment="Direction of the default directional light"/>
    <property key="default_directional_light_intensity" value="10 10 10" comment="Intensity of the default directional light"/>
    <property key="default_light_type" value="AREA" comment="Type of the default light"/>
    <property key="default_point_light_intensity" value="20000.000 20000.000 20000.000" comment="Intensity of the default point light."/>
    <property key="default_point_light_position" value="125.00000 90.00000 -40.0000" comment="Position of the default point light."/>
    <property key="shadows" value="1" comment="Use shadows in rendering."/>
  </light>
  <tonemap>
    <property key="tonemap_exponent" value="1.8" comment="Tonemap exponent"/>
    <property key="tonemap_multiplier" value="1.0" comment="Tonemap multiplier"/>
  </tonemap>
</ex:Optix_Framework_Parameters>

